body {
  background-color: #202c36;
}

.header {
  background-color: #2b3844;
  width: 100%;
}
.header .container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .mode {
  vertical-align: middle;
}
.header .container .mode img {
  margin-right: 10px;
}

.card {
  background-color: #2b3844;
  color: white;
}

.search-input {
  background-color: #2b3844;
  border: none;
  color: white;
}
.search-input:focus {
  background-color: #2b3844;
  border: none;
  color: white;
}
.search-input::-webkit-input-placeholder {
  color: white;
}
.search-input::-moz-placeholder {
  color: white;
}
.search-input:-ms-input-placeholder {
  color: white;
}
.search-input::-ms-input-placeholder {
  color: white;
}
.search-input::placeholder {
  color: white;
}

.continents {
  width: 200px;
  background-color: #2b3844;
  padding: 10px 20px;
}
.continents button {
  color: white;
}
.continents button:hover {
  background-color: #202c36;
  color: white;
}